.navbar{
  padding: 10px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(152, 148, 229);
  color: white;
  height: 60px;
}

.navbar .logo{
  font-size: 22px;
}

.navbar .list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  list-style: none;
}


.navbar .list a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* .heroSection{
  background-color: aqua;
} */